html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
table tr:last-child td:first-child {
  border: 2px solid orange;
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border: 2px solid green;
  border-bottom-right-radius: 10px;
}